.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#caption{
  background: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 150px;
  margin: 0 auto;
}
/* #cardBtn{
  background-color: rgba(0, 0, 0, 0.805);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
